

.hero {
    padding: 19rem 5rem 0 5rem;
}
.hero h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 5px;
    color: white;
    font-family:'Avenir Next LT Pro', sans-serif !important;

}
.jpy_heroBottom {
 margin-top:11rem;
 font-family: 'Avenir Next LT Pro', sans-serif !important;
}
.jpy_heroBottom h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1px;
    color: white;
    text-align: end;
    font: normal normal bold 18px/35px Avenir Next;
    font-family:'Avenir Next LT Pro', sans-serif !important;

}

.imgContainer {
    display: flex;
    justify-content: center;
}
.jpy_heroBottom img{
    margin-top: -50px !important;
    width: 330px;
    height: auto;
    
}
.hero__main{
    /* background-image: url("../../../img/jpy/herobg.png"); */
}