@font-face { font-family: avenir-next; 
    src: url('../../../webfonts/AvenirNext-Bold.ttf'); } 

.hero {
    padding: 19rem 5rem 0 5rem;
}
.hero h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 5px;
    color: white;
   font-family: avenir-next , sans-serif !important;

}
.jpy_heroBottom {
 margin-top:11rem;
font-family: avenir-next , sans-serif !important;
}
.jpy_heroBottom h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1px;
    color: white;
    text-align: end;
    font: normal normal bold 18px/35px Avenir Next;
   font-family: avenir-next , sans-serif !important;

}

.imgContainer {
    display: flex;
    justify-content: center;
}
.jpy_heroBottom img{
    margin-top: -50px !important;
    width: 330px;
    height: auto;
    
}
.hero__main{
    /* background-image: url("../../../img/jpy/herobg.png"); */
}
@media screen and (max-width: 680px) {
    .jpyBottomNav ul li {
        height: 0px !important;
        text-align: center;
        font: normal normal bold 30px/41px Avenir Next;
        font-size: 15px !important;
        letter-spacing: 0px;
        opacity: 1;
        font-family: avenir-next, sans-serif !important;
    }
    .jpyBottomNav{
        margin-bottom: 2.7rem !important;
    }
    

}
@media screen and (max-width: 425px) {
   
    .jpy_heroBottom img {
        margin-top: 21px !important;
        width: 271px;
        height: auto;
    }
    .hero h2{
        font-size: 29px !important;
    }
    .jpyBottomNav ul li {
      
        font-size: 12px !important;
        
    }
   
    

}
@media screen and (max-width: 390px) {
    
    .jpyBottomNav ul li {
      
        font-size: 10px !important;
        
    }

}
@media screen and (max-width: 350px) {
  .jpyBottomNav  .nav-link{
    padding: .5rem .5rem;
  }

}
@media screen and (max-width: 340px) {
    
    .hero h2{
        font-size: 23px;
    }
   

}
    @media screen and (max-width: 992px) {
        
        .jpy_heroBottom h3{
            font-size: 15px !important;
        }
    

    }
    @media only screen and (max-width: 767px) {
        
        .jpy_heroBottom img {
            margin-top: 31px !important;
            width: 254px !important;

         
        }
        .heroBackground {
            background-size: cover !important;
            background-position: top;
         }
          
    .hero h2{
        font-size: 35px;
    }
    }
    @media only screen and (max-width: 767px)
    {
             .hero h2{
                font-size: 26px !important;
             }
    }
    @media only screen and (max-width: 460px)
    {
        .hero {
            padding: 18rem 2rem 0 1rem;
        }
        .jpy_heroBottom h3{
            font-size: 13px !important;
        }
    }