*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.heroBackground {
    background-image: url('../../img//jpy//herobg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 88px;
   background-size: 100% 100%;

}

.JpyBody{

    background: transparent linear-gradient(180deg, #9DA3AA 15%, #E2F0FA 100%) 0% 0% no-repeat padding-box;

}






